body {
    font: 13px/1.4 'Helvetica Neue', 'Helvetica','Arial', sans-serif;
    color: #fff;
    background-image: url(img/CHICAGO_BUILDING.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    /*background-size: 1080px;*/
    /*background-position: center top 45px;*/
}
.container {
    width: 540px;
    margin: auto;
    margin-top: 100px;
}
h1 {
    border-bottom: 1px solid #fff;
}
h2{
  position: relative;;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: fff;
}
h2:before{
  content: '\2192';
  position: absolute;
  left: -20px;
  font-size: 0.9em;
}
a {
    color: #fff;
    text-decoration: none;
}

.callback,
.simple,
.offset {
  font-size: 20px;
  background: #27ae60;
  padding: 0.5em 0.7em;
  color: #fff;
  margin-bottom: 50px;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}
.offset {
  margin-bottom: 10px;
}
.callback{
  cursor: pointer;
}
.ended {
  background: #fff;
}
.styled{
  margin-bottom: 50px;
}
.styled div {
  display: inline-block;
  margin-left: 40px;
  font-size: 80px;
  font-weight: 100;
  line-height: 1;
  text-align: right;
}
/* IE7 inline-block hack */
*+html .styled div{
  display: inline;
  zoom: 1;
}
.styled div:first-child {
  margin-left: 0;
}
.styled div span {
  display: block;
  border-top: 1px solid #fff;
  padding-top: 3px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}
